<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<header class="header-bar" th:fragment="topbar">
    <div class="header-search">
        <input type="text" class="search-input" name="search" placeholder="Search...">
    </div>
    <div class="header-actions">
        <div class="datetime-widget">
            <span class="datetime-date" th:text="${#temporals.format(currentDateTime, 'dd.MM.yyyy')}">08.07.2019</span>
        </div>
        <a th:href="@{/}" class="btn">menu</a>
        <a th:href="@{/}" class="btn">advance</a>
    </div>
</header>
</body>
</html>
